{% extends "layouts/journey.njk" %}

{% from "casa/components/radios/macro.njk" import casaGovukRadios %}

{% block journey_form %}
  {{ casaGovukRadios({
  name: 'drink-beer',
  fieldset: {
    legend: {
      text: 'Are you a beer drinker?',
      isPageHeading: true,
      classes: 'govuk-fieldset__legend--xl'
    }
    },
    items: [
      { 
        value: 'yes',
        text: 'Yes'
      },
      { 
        value: 'no',
        text: 'No'
      }
    ]
    
  }) }}
{% endblock %}
 




