{% extends "layouts/journey.njk" %}

{% from "casa/components/checkboxes/macro.njk" import casaGovukCheckboxes with context %}

{% block casaPageTitle %}
  {{ t('choose-your-hops:pageTitle') }}
{% endblock %}

{% block journey_form %}
  {{ casaGovukCheckboxes({
    name: "hops",
    casaErrors: formErrors,
    fieldset: {
      legend: {
        text: t('choose-your-hops:hops.label'),
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    hint: {
      text: t('choose-your-hops:hops.hint')
    },
    items: allHops 
    }) }}

  <p class="govuk-body">
    If you require help choosing the hops, please visit <a href='#'> manual </a>
  </p>

{% endblock %}

